<!DOCTYPE html>
<html lang="en">
    <head>
        {%include "head.html"%}
        <title>Chat</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">{% include "navbar.html" %}</div>
                <div class="col-lg-3 users">
                    <div class="userForm">
                        <form class="chatInput" method="post" autocomplete="off">
                            <input type="text" name="name" placeholder="Enter a user" required>
                            <button type="submit">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M12 4V20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            </button>
                        </form>
                        {% if error %}
                            <p class="error">{{error}}</p>
                        {% endif %}
                    </div>
                    <div class="chatUsers">
                        {%if user not in chats%}
                            <a class="chatBtn active" href="/chat&u&{{user}}">{{user}}</a>
                        {%endif%}
                        {%for i in chats%}
                            {%if i == user %}
                                <a class="chatBtn active"
                            {%else%}
                                <a class="chatBtn"
                            {%endif%}
                            {%if i != "global"%}
                                href="/chat&u&{{i}}">
                                {%for j in pfp%} {%if j[0] == i%}
                                <img class="pfp" src="{{j[1]}}" onerror="this.src='static/media/pfp/default/default.jpg';" alt="">
                                {%endif%} {%endfor%}
                            {%else%}
                                href="/chat&global">
                            {%endif%}
                            {{i}}</a>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-lg-6 d-flex flex-column">
                    <div class="chatTitle">{{user}}</div>
                    <div class="chat" id="chat">
                        {%for i in messages%}
                        {%if i[1] == username%}
                        <div class="message right">
                        {%else%}
                        <div class="message left">
                        {%endif%}
                            <div class="user">
                                {%for j in pfp%} {%if j[0] == i[1]%}
                                <img class="pfp" onerror="this.src='static/media/pfp/default/default.jpg';" src="{{j[1]}}" />
                                {%endif%} {%endfor%}
                                <a href="/user/{{i[1]}}" class="name">{{i[1]}}</a>
                                <p class="time">{{i[3]}}</p>
                            </div>
                            <div class="text">{{i[4]}}</div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="chatForm">
                        <form class="chatInput" onsubmit="sendMessage(this); return false;" autocomplete="off">
                            <input type="text" id="input" placeholder="Message @{{user}}">
                            <button type="submit">
                                <svg viewBox="0 -0.5 25 25" fill="none">
                                    <g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.455 9.8834L7.063 4.1434C6.76535 3.96928 6.40109 3.95274 6.08888 4.09916C5.77667 4.24558 5.55647 4.53621 5.5 4.8764C5.5039 4.98942 5.53114 5.10041 5.58 5.2024L7.749 10.4424C7.85786 10.7903 7.91711 11.1519 7.925 11.5164C7.91714 11.8809 7.85789 12.2425 7.749 12.5904L5.58 17.8304C5.53114 17.9324 5.5039 18.0434 5.5 18.1564C5.55687 18.4961 5.77703 18.7862 6.0889 18.9323C6.40078 19.0785 6.76456 19.062 7.062 18.8884L18.455 13.1484C19.0903 12.8533 19.4967 12.2164 19.4967 11.5159C19.4967 10.8154 19.0903 10.1785 18.455 9.8834V9.8834Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>

            const user = '{{user}}';
            let url = ''

            if (user == "global"){
                url = "/handlemessage"
            }
            else{
                url = `/handlemessage&${user}`
            }

            const sendMessage = (elem) => {

                if (!elem.children[0].value) return

                const data = {
                    'message': elem.children[0].value
                }

                elem.children[0].value = ''

                axios.post(url, data, { headers: { "Content-Type": "application/json" } });
            }

            const messages = eval('{{messages1 | safe}}')


            console.log(typeof(messages))

            $(document).ready($("html, body").scrollTop($(document).height()-$(window).height()))
            setTimeout(() => $("html, body").scrollTop($(document).height()-$(window).height()), 100)

            setInterval(()=>{
                axios.get(url).then(
                    (response) => {
                        const result = response.data;

                        const newMessages = result["messages"].filter(val => !messages.flatMap(val => val[0]).includes(val[0]));

                        for (i of newMessages){
                            messages.push(i)

                            const pfp = result["pfp"].filter(val => val[0] == i[1])
                            const name = '{{username}}'

                            $('.chat').append(`
                                <div class="message ${i[1] == name ? 'right' : 'left'}">
                                    <div class="user">
                                        <img class="pfp" onerror="this.src='static/media/pfp/default/default.jpg';" src="${pfp[0][1]}" />
                                        <a href="/user/${i[1]}" class="name">${i[1]}</a>
                                        <p class="time">${i[3]}</p>
                                    </div>
                                    <div class="text">${i[4]}</div>
                                </div>
                            `)

                            $("html, body").scrollTop($(document).height()-$(window).height());
                        }
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            }, 1000) 
        </script>
    </body>
</html>
